# Pandas

biblioteca de código aberto em Python projetada para análise de dados. Ela fornece estruturas de dados e ferramentas de manipulação de dados de alta performance e fáceis de usar, tornando-a uma das bibliotecas mais populares para trabalhar com dados tabulares.

In [1]:
# Como instalar e importar
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Series

estrutura unidimensional semelhante a um array (numpy) ou uma coluna de uma planilha. As operações que você pode realizar nas Series são semelhantes às operações em um DataFrame

In [6]:
# Criando um Series com preços de livros
s = pd.Series([30, 40, 70, 50])
s

0    30
1    40
2    70
3    50
dtype: int64

In [7]:
# Acessando elementos

print(s[2])

70

In [8]:
# Alterar os índices

s = pd.Series([30, 40, 70, 50], index = ['Livro a', "Livro b", "Livro c", "Livro d"])
s

Livro a    30
Livro b    40
Livro c    70
Livro d    50
dtype: int64

In [9]:
# Operações matemáticas

s = s + 2
s

Livro a    32
Livro b    42
Livro c    72
Livro d    52
dtype: int64

* sum(): Calcula a soma de todos os elementos do Series.
* mean(): Calcula a média dos elementos do Series.
* max(): Encontra o valor máximo no Series.
* min(): Encontra o valor mínimo no Series.
* unique(): Retorna os valores únicos no Series.

In [13]:
print(s.sum())       # Soma dos elementos
print(s.mean())      # Média dos elementos
print(s.max())       # Valor máximo
print(s.min())       # Valor mínimo
print(s.unique())    # Valores únicos

198
49.5
72
32
[32 42 72 52]

# Data Frame

DataFrame é uma estrutura de dados tabular bidimensional, semelhante a uma planilha ou tabela de banco de dados, onde os dados são organizados em colunas rotuladas.
É uma das estruturas de dados mais importantes na biblioteca pandas, que é amplamente utilizada para análise de dados

In [4]:
df_notas= pd.DataFrame ({"Matérias": ["Cálculo","Microeconomia","Contabilidade"],
                        "Fernanda":[5,7,10],
                         "Sandra": [7,3,9],
                         "Guilherme": [10,2,7] })
df_notas

        Matérias  Fernanda  Sandra  Guilherme
0        Cálculo         5       7         10
1  Microeconomia         7       3          2
2  Contabilidade        10       9          7

In [8]:
#head(): Retornar as primeiras linhas do DataFrame.
df_notas.head(1)

  Matérias  Fernanda  Sandra  Guilherme
0  Cálculo         5       7         10

In [9]:
#tail(): Retorna as últimas linhas do DataFrame.
df_notas.tail(2)

        Matérias  Fernanda  Sandra  Guilherme
1  Microeconomia         7       3          2
2  Contabilidade        10       9          7

In [13]:
#columns(): Retorna as colunas
df_notas.columns

Index(['Matérias', 'Fernanda', 'Sandra', 'Guilherme'], dtype='object')

In [15]:
#Um colchete: Series#
df_notas["Guilherme"]

0    10
1     2
2     7
Name: Guilherme, dtype: int64

In [16]:
#Dois colchetes: DataFrame novo#
df_notas[['Guilherme']]

   Guilherme
0         10
1          2
2          7

In [17]:
#describe(): Calcula estatísticas resumidas (como média, desvio padrão, mínimo, máximo, quartis) para colunas numéricas.
df_notas.describe()

        Fernanda    Sandra  Guilherme
count   3.000000  3.000000   3.000000
mean    7.333333  6.333333   6.333333
std     2.516611  3.055050   4.041452
min     5.000000  3.000000   2.000000
25%     6.000000  5.000000   4.500000
50%     7.000000  7.000000   7.000000
75%     8.500000  8.000000   8.500000
max    10.000000  9.000000  10.000000

In [20]:
#shape: Retorna o número de linhas e colunas do DataFrame.
df_notas.shape

(3, 4)

In [23]:
#Filtrar dados com um Boleano
df_notas[(df_notas["Fernanda"]>5) & (df_notas["Sandra"]>6)]

        Matérias  Fernanda  Sandra  Guilherme
2  Contabilidade        10       9          7

In [26]:
#drop(): Remove linhas ou colunas específicas do DataFrame.
#Remover colunas: axis=1
#Remover linhas: axis=2
df_notas.drop(["Guilherme"],axis=1)

        Matérias  Fernanda  Sandra
0        Cálculo         5       7
1  Microeconomia         7       3
2  Contabilidade        10       9