# LISTA DE PANDAS-2

**Importe as bibliotecas necessárias**

**Importe os dados sobre as ações, que estão nos arquivos "carteira.csv" e "ativos.csv".**

In [12]:
##### SEU CODIGO COMECA AQUI #####
import pandas as pd
import numpy as np
import random

ativo = pd.read_csv("ativos.csv", index_col = 0, parse_dates = True)
carteira = pd.read_csv("carteiras.csv", index_col = 5, parse_dates = ["data"])

**Exercício 1: Filtragem de dados**

Filtre o Dataframe a partir de 5 ações, de modo que essas ações podem ser escolhidas pela sua preferência ou de forma aleatória. Após a filtragem, salve em uma nova variável.

In [13]:
##### SEU CODIGO COMECA AQUI #####
acoes = random.choices(ativo.columns, k=5)
acoes

['RANI3', 'MELK3', '40.365.982/0001-30', 'SBFG3', 'CMIN3']

In [14]:
df_acoes = ativo.filter(items = acoes, axis = 1)
df_acoes

                 RANI3       MELK3  40.365.982/0001-30       SBFG3       CMIN3
data
2021-12-31  100.000000  100.000000               100.0  100.000000  100.000000
2022-01-03   95.072464   99.487179               100.0   93.558418  104.599407
2022-01-04   93.768116   98.974359               100.0   90.626388  112.017804
2022-01-05   91.304348   97.179487               100.0   87.649933  103.264095
2022-01-06   89.130435   95.641026               100.0   87.694358  101.186944
...                ...         ...                 ...         ...         ...
2022-07-25  104.969088  100.249730                 NaN   90.267602   54.845819
2022-07-26  104.503248   99.191685                 NaN   87.633680   53.381094
2022-07-27  111.024996  103.159352                 NaN   92.097953   55.985049
2022-07-28  111.490836  105.010930                 NaN   93.749735   57.612522
2022-07-29  107.143004  104.746419                 NaN   92.901523   56.961533

[146 rows x 5 columns]

**Exercício 2: Retorno**

Utilizando o Dataframe filtrado no exercício anterior, calcule o retorno diário dessas 5 ações. Para isso, utilize o método `pct_change`. Além disso, mude o nome das colunas para o nome da ação seguido de uma hashtag, por exemplo, 'BBAS3#'.

salve um uma variável chamada `retorno`.

In [15]:
##### SEU CODIGO COMECA AQUI #####
retorno = df_acoes.pct_change()

for i in retorno.keys():
    retorno[i + "#"] = retorno[i]
    del retorno[i]

retorno = pd.DataFrame(retorno)
retorno

              RANI3#    MELK3#  40.365.982/0001-30#    SBFG3#    CMIN3#
data
2021-12-31       NaN       NaN                  NaN       NaN       NaN
2022-01-03 -0.049275 -0.005128                  0.0 -0.064416  0.045994
2022-01-04 -0.013720 -0.005155                  0.0 -0.031339  0.070922
2022-01-05 -0.026275 -0.018135                  0.0 -0.032843 -0.078146
2022-01-06 -0.023810 -0.015831                  0.0  0.000507 -0.020115
...              ...       ...                  ...       ...       ...
2022-07-25  0.000000  0.010667                  0.0  0.020182 -0.008824
2022-07-26 -0.004438 -0.010554                  0.0 -0.029179 -0.026706
2022-07-27  0.062407  0.040000                  0.0  0.050942  0.048780
2022-07-28  0.004196  0.017949                  0.0  0.017935  0.029070
2022-07-29 -0.038997 -0.002519                  0.0 -0.009048 -0.011299

[146 rows x 5 columns]

**Exercício 3: Ordenar**

Utilizando o método `describe`, analise a média de retorno das ações. Após isso, organize os dados de tal modo que as ações sejam apresentadas de forma decrescente, isto é, a ação que teve a maior média de retorno para a  ação que teve a menor média de retorno.

  
   *Lembre-se de definir o parâmetro 'ascending' e 'by'.*

In [16]:
##### SEU CODIGO COMECA AQUI #####
retorno.describe().sort_values(by='mean', axis=1, ascending=False)

           RANI3#      MELK3#      SBFG3#  40.365.982/0001-30#      CMIN3#
count  145.000000  145.000000  145.000000                145.0  145.000000
mean     0.000816    0.000699    0.000019                  0.0   -0.003462
std      0.026454    0.027789    0.032655                  0.0    0.028815
min     -0.049275   -0.078603   -0.076083                  0.0   -0.078146
25%     -0.016639   -0.014327   -0.024138                  0.0   -0.020115
50%     -0.001695    0.000000   -0.001340                  0.0   -0.004329
75%      0.012461    0.014388    0.020182                  0.0    0.012945
max      0.110738    0.113372    0.084769                  0.0    0.092784

**Exercício 4: Manipulação** 

Para a ação que obteve a maior média de retonos no périodo apresentado, crie uma coluna chamada `acima_da_media_x`, sendo o 'x' o nome da ação. Sendo assim, essa coluna deve conter valores booleanos, `True` caso a ação esteja com o preço acima da sua média e `False` caso o preço da ação seja menor ou igual a média. Feito isso, printe apenas os dados que são iguais a `True`. 

*Dessa forma, poderemos saber em quais dias que a ação obteve um retorno maior que a sua média*

In [17]:
##### SEU CODIGO COMECA AQUI #####
acima_da_media = []
nome_acao = retorno.columns[0]
for dia in retorno[nome_acao]:
    if dia > -0.000083:
         acima_da_media.append(True)
    else:
        acima_da_media.append(False)

retorno[f'acima_da_media_{nome_acao}'] = acima_da_media
retorno[retorno[f'acima_da_media_{nome_acao}'] == True]

,RANI3#,MELK3#,40.365.982/0001-30#,SBFG3#,CMIN3#,acima_da_media_RANI3#
data,,,,,,
2022-01-07,0.014634,-0.008043,0.0,0.030902,0.023460,True
2022-01-10,0.009615,0.051351,0.0,-0.027027,0.001433,True
2022-01-12,0.048701,0.007792,0.0,0.052944,0.044286,True
2022-01-19,0.023102,0.021622,0.0,0.020243,0.013889,True
2022-01-20,0.001613,0.018519,0.0,0.077877,-0.010959,True
...,...,...,...,...,...,...
2022-07-19,0.033283,0.036517,0.0,0.008310,0.033033,True
2022-07-21,0.020710,0.000000,0.0,0.029488,0.000000,True
2022-07-25,0.000000,0.010667,0.0,0.020182,-0.008824,True
2022-07-27,0.062407,0.040000,0.0,0.050942,0.048780,True
2022-07-28,0.004196,0.017949,0.0,0.017935,0.029070,True

**Exercício 5: Proporção**

Após descobrir em quais dias que a ação teve um retorno maior que a sua média, calcule qual foi a proporção em que isso aconteceu, ou seja, a proporção de dias que esteve acima da média em relação ao total de dias.

*printe essa proporção da seguinte forma: 'A proporção de dias acima da média foi de X%', sendo 'X' a proporção. Arredonde em duas casa decimais o valor encontrado*

In [18]:
##### SEU CODIGO COMECA AQUI #####
dias_acima = retorno[retorno[f'acima_da_media_{nome_acao}'] == True].count()
dias_total = retorno.count()

proporcao = dias_acima[f'acima_da_media_{nome_acao}'] / dias_total[f'acima_da_media_{nome_acao}']
proporcao

0.4589041095890411

**Exercício 6: Junção**

Por fim, faça a união **total** do dataframe contendo cinco primeiras ações escolhidas  inicialmente (no ex. 1) com o dataframe contendo os retornos dessas ações (criado no ex.2). Espera-se um único dataframe como resposta.

In [19]:
##### SEU CODIGO COMECA AQUI #####
for i in df_acoes.keys():
    df_acoes[i + "#"] = df_acoes[i]
    del df_acoes[i]

In [20]:
df_acoes.merge(retorno, how='outer')

,RANI3#,MELK3#,40.365.982/0001-30#,SBFG3#,CMIN3#,acima_da_media_RANI3#
0,100.000000,100.000000,100.0,100.000000,100.000000,NaN
1,95.072464,99.487179,100.0,93.558418,104.599407,NaN
2,93.768116,98.974359,100.0,90.626388,112.017804,NaN
3,91.304348,97.179487,100.0,87.649933,103.264095,NaN
4,89.130435,95.641026,100.0,87.694358,101.186944,NaN
...,...,...,...,...,...,...
287,0.000000,0.010667,0.0,0.020182,-0.008824,True
288,-0.004438,-0.010554,0.0,-0.029179,-0.026706,False
289,0.062407,0.040000,0.0,0.050942,0.048780,True
290,0.004196,0.017949,0.0,0.017935,0.029070,True
291,-0.038997,-0.002519,0.0,-0.009048,-0.011299,False