# Projeto Crimes em SP

## Hipóteses:

* Bairros com menor renda de sp tem um maior número de homicídios consumados.

* Homicídios ocorrem com maior frequência a noite e em locares abertos

## TODO

* Classificar as cidades periféricas (modelo de classificação)

* Período da ocorrência (mais de noite, dia, tarde)

* Top bairros com mais ocorrência

* Locais que acontece mais (casa, estradas)

* Evolução histórica versus geográfica (Top bairros)

* Correlacionar com dados pessoais (Idade, sexo, cor)

In [2]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sn
import pandas as pd
import numpy as np

homicidio_doloso = pd.read_csv(r"C:\Users\Lenovo\Downloads\Homicidio Doloso.csv\Homicidio Doloso Data SSP.csv", sep=";", encoding="latin-1", low_memory=False)

# Selecionando e Limpando os dados

In [3]:
print(homicidio_doloso.shape)
homicidio_doloso.info()

(147033, 54)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147033 entries, 0 to 147032
Data columns (total 54 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ANO_BO                    147033 non-null  int64
 1   NUM_BO                    147033 non-null  int64
 2   NUMERO_BOLETIM            147033 non-null  object
 3   BO_INICIADO               147033 non-null  object
 4   BO_EMITIDO                147033 non-null  object
 5   DATAOCORRENCIA            147033 non-null  object
 6   HORAOCORRENCIA            137444 non-null  object
 7   PERIDOOCORRENCIA          147033 non-null  object
 8   DATACOMUNICACAO           147033 non-null  object
 9   DATAELABORACAO            147033 non-null  object
 10  BO_AUTORIA                147033 non-null  object
 11  FLAGRANTE                 147033 non-null  object
 12  NUMERO_BOLETIM_PRINCIPAL  26816 non-null   object
 13  LOGRADOURO                116431 non-null  object
 14  NUMERO                    146580 non-null  object
 15  BAIRRO                    137924 non-null  object
 16  CIDADE                    146580 non-null  object
 17  UF                        146580 non-null  object
 18  LATITUDE                  80733 non-null   object
 19  LONGITUDE                 80729 non-null   object
 20  DESCRICAOLOCAL            147033 non-null  object
 21  EXAME                     114244 non-null  object
 22  SOLUCAO                   147025 non-null  object
 23  DELEGACIA_NOME            147033 non-null  object
 24  DELEGACIA_CIRCUNSCRICAO   147033 non-null  object
 25  ESPECIE                   147033 non-null  object
 26  RUBRICA                   147033 non-null  object
 27  DESDOBRAMENTO             20118 non-null   object
 28  STATUS                    143069 non-null  object
 29  TIPOPESSOA                55149 non-null   object
 30  VITIMAFATAL               55149 non-null   object
 31  NATURALIDADE              43716 non-null   object
 32  NACIONALIDADE             35310 non-null   object
 33  SEXO                      53805 non-null   object
 34  DATANASCIMENTO            44516 non-null   object
 35  IDADE                     45514 non-null   object
 36  ESTADOCIVIL               39700 non-null   object
 37  PROFISSAO                 28450 non-null   object
 38  GRAUINSTRUCAO             29148 non-null   object
 39  CORCUTIS                  54720 non-null   object
 40  NATUREZAVINCULADA         55149 non-null   object
 41  TIPOVINCULO               55149 non-null   object
 42  RELACIONAMENTO            1485 non-null    object
 43  PARENTESCO                6 non-null       object
 44  PLACA_VEICULO             25302 non-null   object
 45  UF_VEICULO                25342 non-null   object
 46  CIDADE_VEICULO            25362 non-null   object
 47  DESCR_COR_VEICULO         25394 non-null   object
 48  DESCR_MARCA_VEICULO       25394 non-null   object
 49  ANO_FABRICACAO            146859 non-null  object
 50  ANO_MODELO                146782 non-null  object
 51  DESCR_TIPO_VEICULO        25394 non-null   object
 52  QUANT_CELULAR             0 non-null       float64
 53  MARCA_CELULAR             0 non-null       float64
dtypes: float64(2), int64(2), object(50)
memory usage: 60.6+ MB

In [4]:
homicidio = homicidio_doloso[["ANO_BO", "NUM_BO", "HORAOCORRENCIA", "PERIDOOCORRENCIA", "BAIRRO", "CIDADE", "UF", "DESCRICAOLOCAL", "FLAGRANTE", "STATUS"]]
homicidio = homicidio.rename(columns={
    "ANO_BO": "ANO",
    "HORAOCORRENCIA": "HORA",
    "PERIDOOCORRENCIA": "PERIODO",
    "BAIRRO": "BAIRRO",
    "DESCRICAOLOCAL": "LOCAL",
    })
sexo = homicidio_doloso[["ANO_BO", "NUM_BO", "SEXO"]]

idade = homicidio_doloso[["ANO_BO", "NUM_BO", "IDADE"]]

cor = homicidio_doloso[["ANO_BO", "NUM_BO", "CORCUTIS"]]

In [5]:
print(homicidio.isna().sum())
print(sexo.isna().sum())
print(idade.isna().sum())
print(cor.isna().sum())
homicidio.dropna(inplace=True)
sexo.dropna(inplace=True)
idade.dropna(inplace=True)
cor.dropna(inplace=True)

ANO             0
NUM_BO          0
HORA         9589
PERIODO         0
BAIRRO       9109
CIDADE        453
UF            453
LOCAL           0
FLAGRANTE       0
STATUS       3964
dtype: int64
ANO_BO        0
NUM_BO        0
SEXO      93228
dtype: int64
ANO_BO         0
NUM_BO         0
IDADE     101519
dtype: int64
ANO_BO          0
NUM_BO          0
CORCUTIS    92313
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\3086957484.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sexo.dropna(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\3086957484.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idade.dropna(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\3086957484.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor.dropna(inplace=True)

In [6]:
print(homicidio.duplicated().sum())
print(sexo.duplicated().sum())
print(idade.duplicated().sum())
print(cor.duplicated().sum())
homicidio.drop_duplicates(inplace=True)
sexo.drop_duplicates(inplace=True)
idade.drop_duplicates(inplace=True)
cor.drop_duplicates(inplace=True)

49832
29932
17083
26743

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\4289532399.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sexo.drop_duplicates(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\4289532399.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idade.drop_duplicates(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12552\4289532399.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor.drop_duplicates(inplace=True)

In [7]:
print(homicidio.shape)
print(sexo.shape)
print(idade.shape)
print(cor.shape)
homicidio

(75805, 10)
(23873, 3)
(28431, 3)
(27977, 3)

,ANO,NUM_BO,HORA,PERIODO,BAIRRO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
0,2021,3652,11:43,PELA MANHÃ,BAIRRO DO RIBEIRO,LINS,SP,Residência,Sim,Consumado
2,2021,4134,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
3,2021,343,16:30,A TARDE,LIBERDADE,S.PAULO,SP,Via pública,Não,Consumado
7,2021,4136,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
8,2021,4225,23:00,A NOITE,CUMBICA,GUARULHOS,SP,Via pública,Não,Consumado
...,...,...,...,...,...,...,...,...,...,...
147024,2003,331,22:00,A NOITE,SACOMA,S.PAULO,SP,Residência,Não,Tentado
147025,2003,393,03:00,DE MADRUGADA,PQ. INDUSTRIAL,CAMPINAS,SP,Via pública,Não,Consumado
147026,2003,781,21:15,A NOITE,BROOKLIN,S.PAULO,SP,Via pública,Não,Consumado
147028,2003,555,19:00,A NOITE,JAGUARÉ,S.PAULO,SP,Via pública,Não,Consumado
147030,2003,409,03:40,DE MADRUGADA,SACOMA,S.PAULO,SP,Via pública,Não,Consumado

In [8]:
homicidio_UF = homicidio[homicidio["UF"] != "SP"]
print(homicidio_UF.shape)
homicidio = homicidio.drop(homicidio_UF.index)
homicidio.shape

(1, 10)

(75804, 10)

In [9]:
# pd.set_option('display.max.rows', 75804)
homicidio.head()

,ANO,NUM_BO,HORA,PERIODO,BAIRRO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
0,2021,3652,11:43,PELA MANHÃ,BAIRRO DO RIBEIRO,LINS,SP,Residência,Sim,Consumado
2,2021,4134,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
3,2021,343,16:30,A TARDE,LIBERDADE,S.PAULO,SP,Via pública,Não,Consumado
7,2021,4136,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
8,2021,4225,23:00,A NOITE,CUMBICA,GUARULHOS,SP,Via pública,Não,Consumado

# Organizando os dados

In [71]:
pd.set_option('display.max.rows', 3654)

In [23]:
homicidio_consumado = homicidio[homicidio["STATUS"] == "Consumado"]
homicidio_tentado = homicidio[homicidio["STATUS"] == "Tentado"]
soma_homicidios = anos_consumado["NUM_BO"].sum()
soma_tentado = anos_tentado["NUM_BO"].sum()

7447

In [123]:
# periodo = homicidio.groupby(["PERIODO", "LOCAL"]).count()
# locais_abertos = ['Via pública', 'Rodovia/Estrada', 'Área não ocupada', 'Lazer e recreação', 'Unidade rural', 'Terminal/Estação', 'Favela',  'Estrada de ferro']
# locais_fechados = ['Residência', 'Comércio e serviços', 'Saúde', 'Condomínio Residencial', 'Repartição Pública', 'Restaurante e afins', 'Estabelecimento de ensino', 'Hospedagem', 'Centro Comercial/Empresarial', 'Serviços e bens públicos', 'Templo e afins', 'Condomínio Comercial', 'Local clandestino/ilegal', 'Estabelecimento industrial', 'Estabelecimento prisional', 'Estabelecimento bancário', 'Shopping Center', 'Sindicato', 'Entidade assistencial', 'Escritório']
local = homicidio_consumado.groupby("LOCAL").count().sort_values(by="ANO", ascending=False)
periodo = homicidio_consumado.groupby("PERIODO").count().sort_values(by="ANO", ascending=False)
periodo

,ANO,NUM_BO,HORA,BAIRRO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
PERIODO,,,,,,,,,
A NOITE,26680,26680,26680,26680,26680,26680,26680,26680,26680
DE MADRUGADA,16271,16271,16271,16271,16271,16271,16271,16271,16271
PELA MANHÃ,13603,13603,13603,13603,13603,13603,13603,13603,13603
A TARDE,11553,11553,11553,11553,11553,11553,11553,11553,11553
EM HORA INCERTA,250,250,250,250,250,250,250,250,250

In [33]:
anos_consumado = homicidio_consumado.groupby("ANO").count()
anos_tentado = homicidio_tentado.groupby("ANO").count()
anos_consumado

      NUM_BO  HORA  PERIODO  BAIRRO  CIDADE    UF  LOCAL  FLAGRANTE  STATUS
ANO
2003    1910  1910     1910    1910    1910  1910   1910       1910    1910
2004    2971  2971     2971    2971    2971  2971   2971       2971    2971
2005    3310  3310     3310    3310    3310  3310   3310       3310    3310
2006    4137  4137     4137    4137    4137  4137   4137       4137    4137
2007    3324  3324     3324    3324    3324  3324   3324       3324    3324
2008    3019  3019     3019    3019    3019  3019   3019       3019    3019
2009    3499  3499     3499    3499    3499  3499   3499       3499    3499
2010    3617  3617     3617    3617    3617  3617   3617       3617    3617
2011    3519  3519     3519    3519    3519  3519   3519       3519    3519
2012    4281  4281     4281    4281    4281  4281   4281       4281    4281
2013    4388  4388     4388    4388    4388  4388   4388       4388    4388
2014    5621  5621     5621    5621    5621  5621   5621       5621    5621
2015    5041  5041     5041    5041    5041  5041   5041       5041    5041
2016    4976  4976     4976    4976    4976  4976   4976       4976    4976
2017    4639  4639     4639    4639    4639  4639   4639       4639    4639
2018    4205  4205     4205    4205    4205  4205   4205       4205    4205
2019    2924  2924     2924    2924    2924  2924   2924       2924    2924
2020       1     1        1       1       1     1      1          1       1
2021    2975  2975     2975    2975    2975  2975   2975       2975    2975

In [121]:
cidade_sp = homicidio_consumado[homicidio_consumado["CIDADE"] == "S.PAULO"]
bairros = cidade_sp.groupby("BAIRRO").count().sort_values(by="NUM_BO", ascending=False)
# TOP 10 BAIRROS COM MAIOR TAXA DE HOMICIDIO
# GRAJAU
# CAMPO LIMPO
# ITAIM PAULISTA
# ITAQUERA
# JARDIM ANGELA
# JD SÃO LUIS
# BRASILANDIA
# CAPAO REDONDO
# CIDADE TIRADENTES
# PIRITUBA

In [83]:
# bairros_sp = cidade_sp["BAIRRO"].unique()
# for i in bairros_sp:
#     print(i)

In [82]:
centro_bairros = ["Sé Bela Vista", "Bom Retiro", "Cambuci", "Consolação", "Liberdade", "República", "Santa Cecília", "Sé", "Centro"]
def maiuscula(lista):
    i = 0
    for bairro in lista:
        lista[i] = bairro.upper()
        i += 1
    zona = cidade_sp[cidade_sp["BAIRRO"].isin(lista)]
    zona_hom = zona.groupby("BAIRRO").count().sort_values(by="ANO", ascending=False)
    return zona, zona_hom
centro, centro_hom = maiuscula(centro_bairros)

array(['LIBERDADE', 'BOM RETIRO', 'CAMBUCI', 'CENTRO', 'CONSOLAÇÃO', 'SÉ',
       'SANTA CECÍLIA'], dtype=object)

In [59]:
sul_bairros = ["Campo Limpo", "Capão Redondo", "Vila Andrade", "Capela do Socorro Cidade Dutra", "Grajau", "Socorro", "Cidade Ademar", "Pedreira", "Ipiranga", "Sacomã", "Jabaquara", "M'Boi Mirim", "Jardim Ângela", "Jardim São Luís", "Parelheiros", "Marsilac", "Santo Amaro", "Campo Belo", "Campo Grande", "Santo Amaro", "Moema", "Saúde", "Vila Mariana"]
sul, sul_hom = maiuscula(sul_bairros)
sul_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
GRAJAU,369,369,369,369,369,369,369,369,369
CAMPO LIMPO,357,357,357,357,357,357,357,357,357
PARELHEIROS,203,203,203,203,203,203,203,203,203
JABAQUARA,202,202,202,202,202,202,202,202,202
PEDREIRA,182,182,182,182,182,182,182,182,182
CIDADE ADEMAR,177,177,177,177,177,177,177,177,177
IPIRANGA,146,146,146,146,146,146,146,146,146
VILA ANDRADE,138,138,138,138,138,138,138,138,138
SANTO AMARO,120,120,120,120,120,120,120,120,120
CAMPO GRANDE,73,73,73,73,73,73,73,73,73
CAMPO BELO,64,64,64,64,64,64,64,64,64
SOCORRO,61,61,61,61,61,61,61,61,61
MOEMA,39,39,39,39,39,39,39,39,39
MARSILAC,37,37,37,37,37,37,37,37,37
VILA MARIANA,36,36,36,36,36,36,36,36,36
CAPÃO REDONDO,23,23,23,23,23,23,23,23,23
SACOMÃ,15,15,15,15,15,15,15,15,15
SAÚDE,5,5,5,5,5,5,5,5,5
JARDIM ÂNGELA,2,2,2,2,2,2,2,2,2
JARDIM SÃO LUÍS,2,2,2,2,2,2,2,2,2

In [26]:
leste_bairros = ["Aricanduva", "Carrão", "Vila Formosa", "Cidade Tiradentes", "Ermelino Matarazzo", "Ponte Rasa", "Guaianases", "Lajeado", "Itaim Paulista", "Vila Curuçá", "Itaquera", "Cidade Líder", "José Bonifácio", "Parque do Carmo", "Mooca Água Rasa", "Belém", "Brás", "Moóca", "Pari", "Tatuapé", "Penha", "Artur Alvim", "Cangaíba", "Penha", "Vila Matilde", "São Mateus", "São Rafael", "São Miguel", "Jardim Helena", "Vila Jacuí", "Sapopemba", "Vila Prudente", "São Lucas"]
leste, leste_hom = maiuscula(leste_bairros)
leste_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
ITAIM PAULISTA,348,348,348,348,348,348,348,348,348
ITAQUERA,348,348,348,348,348,348,348,348,348
CIDADE TIRADENTES,231,231,231,231,231,231,231,231,231
SAPOPEMBA,214,214,214,214,214,214,214,214,214
GUAIANASES,209,209,209,209,209,209,209,209,209
ERMELINO MATARAZZO,149,149,149,149,149,149,149,149,149
LAJEADO,138,138,138,138,138,138,138,138,138
JARDIM HELENA,123,123,123,123,123,123,123,123,123
PENHA,113,113,113,113,113,113,113,113,113
VILA PRUDENTE,89,89,89,89,89,89,89,89,89
PARQUE DO CARMO,88,88,88,88,88,88,88,88,88
PARI,80,80,80,80,80,80,80,80,80
PONTE RASA,71,71,71,71,71,71,71,71,71
VILA MATILDE,59,59,59,59,59,59,59,59,59
ARTUR ALVIM,56,56,56,56,56,56,56,56,56
VILA FORMOSA,48,48,48,48,48,48,48,48,48
SÃO MATEUS,36,36,36,36,36,36,36,36,36
ARICANDUVA,36,36,36,36,36,36,36,36,36
BRÁS,28,28,28,28,28,28,28,28,28
TATUAPÉ,28,28,28,28,28,28,28,28,28
BELÉM,21,21,21,21,21,21,21,21,21
CANGAÍBA,13,13,13,13,13,13,13,13,13
CIDADE LÍDER,9,9,9,9,9,9,9,9,9
VILA CURUÇÁ,3,3,3,3,3,3,3,3,3
VILA JACUÍ,2,2,2,2,2,2,2,2,2

In [27]:
norte_bairros = ["Casa Verde", "Cachoeirinha", "Limão", "Brasilândia", "Freguesia do Ó", "Jaçanã", "Tremembé", "Perus", "Anhanguera", "Pirituba", "Jaraguá", "São Domingos", "Santana", "Tucuruvi", "Mandaqui", "Vila Maria", "Vila Guilherme", "Vila Medeiros"]
norte, norte_hom = maiuscula(norte_bairros)
norte_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
PIRITUBA,221,221,221,221,221,221,221,221,221
PERUS,200,200,200,200,200,200,200,200,200
VILA MARIA,174,174,174,174,174,174,174,174,174
CACHOEIRINHA,173,173,173,173,173,173,173,173,173
VILA MEDEIROS,114,114,114,114,114,114,114,114,114
CASA VERDE,90,90,90,90,90,90,90,90,90
SANTANA,79,79,79,79,79,79,79,79,79
MANDAQUI,61,61,61,61,61,61,61,61,61
VILA GUILHERME,59,59,59,59,59,59,59,59,59
FREGUESIA DO Ó,58,58,58,58,58,58,58,58,58
ANHANGUERA,54,54,54,54,54,54,54,54,54
TUCURUVI,41,41,41,41,41,41,41,41,41
LIMÃO,24,24,24,24,24,24,24,24,24
JAÇANÃ,15,15,15,15,15,15,15,15,15
JARAGUÁ,9,9,9,9,9,9,9,9,9
TREMEMBÉ,3,3,3,3,3,3,3,3,3
BRASILÂNDIA,2,2,2,2,2,2,2,2,2

In [28]:
oeste_bairros = ["Butantã", "Morumbi", "Raposo Tavares", "Rio Pequeno", "Vila Sônia", "Lapa", "Barra Funda", "Jaguara", "Jaguaré", "Perdizes", "Vila Leopoldina", "Pinheiros", "Alto de Pinheiros", "Itaim Bibi", "Jardim Paulista", "Pinheiros"]
oeste,oeste_hom = maiuscula(norte_bairros)
oeste_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
PIRITUBA,221,221,221,221,221,221,221,221,221
PERUS,200,200,200,200,200,200,200,200,200
VILA MARIA,174,174,174,174,174,174,174,174,174
CACHOEIRINHA,173,173,173,173,173,173,173,173,173
VILA MEDEIROS,114,114,114,114,114,114,114,114,114
CASA VERDE,90,90,90,90,90,90,90,90,90
SANTANA,79,79,79,79,79,79,79,79,79
MANDAQUI,61,61,61,61,61,61,61,61,61
VILA GUILHERME,59,59,59,59,59,59,59,59,59
FREGUESIA DO Ó,58,58,58,58,58,58,58,58,58
ANHANGUERA,54,54,54,54,54,54,54,54,54
TUCURUVI,41,41,41,41,41,41,41,41,41
LIMÃO,24,24,24,24,24,24,24,24,24
JAÇANÃ,15,15,15,15,15,15,15,15,15
JARAGUÁ,9,9,9,9,9,9,9,9,9
TREMEMBÉ,3,3,3,3,3,3,3,3,3
BRASILÂNDIA,2,2,2,2,2,2,2,2,2

In [106]:
bairros_menor_renda_sp = [
    "Heliopolis",
    "Paraisopolis",
    "Cidade Tiradentes",
    "Jardim São Luís",
    "Grajau",
    "Capão Redondo",
    "Brasilandia",
    "JARDIM ANGELA",
    "Jd Peri",
    "Parelheiros"
]
menor_renda, homicidios_menor = maiuscula(bairros_menor_renda_sp)
soma_menor_renda = homicidios_menor["ANO"].sum()
homicidios_menor

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
GRAJAU,369,369,369,369,369,369,369,369,369
JARDIM ANGELA,323,323,323,323,323,323,323,323,323
BRASILANDIA,283,283,283,283,283,283,283,283,283
CIDADE TIRADENTES,231,231,231,231,231,231,231,231,231
PARELHEIROS,203,203,203,203,203,203,203,203,203
HELIOPOLIS,95,95,95,95,95,95,95,95,95
PARAISOPOLIS,49,49,49,49,49,49,49,49,49
JD PERI,31,31,31,31,31,31,31,31,31
CAPÃO REDONDO,23,23,23,23,23,23,23,23,23
JARDIM SÃO LUÍS,2,2,2,2,2,2,2,2,2

In [92]:
bairros_maior_renda_sp = [
    "Jd Europa",
    "Jd Paulistano",
    "Vila Nova Conceição",
    "Itaim Bibi",
    "Moema",
    "Morumbi",
    "Brooklin",
    "Alto de Pinheiros",
    "Perdizes",
    "Jardins"
]
maior_renda, homicidios_maior = maiuscula(bairros_maior_renda_sp)
soma_maior_renda = homicidios_maior["ANO"].sum()
homicidios_maior

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
MORUMBI,59,59,59,59,59,59,59,59,59
ITAIM BIBI,46,46,46,46,46,46,46,46,46
MOEMA,39,39,39,39,39,39,39,39,39
PERDIZES,39,39,39,39,39,39,39,39,39
JD PAULISTANO,27,27,27,27,27,27,27,27,27
BROOKLIN,23,23,23,23,23,23,23,23,23
ALTO DE PINHEIROS,11,11,11,11,11,11,11,11,11
JARDINS,5,5,5,5,5,5,5,5,5
JD EUROPA,2,2,2,2,2,2,2,2,2
VILA NOVA CONCEIÇÃO,1,1,1,1,1,1,1,1,1

In [53]:
idade_hom = idade.groupby("IDADE").count().sort_values(by="NUM_BO", ascending=False)
sexo_hom = sexo.groupby("SEXO").count()
corcutis_hom = cor.groupby("CORCUTIS").count().sort_values(by="NUM_BO", ascending=False)

In [126]:
correlacao_idade_sexo = idade.merge(sexo, how='inner').groupby(["SEXO", "IDADE"]).count().sort_values(by=["ANO_BO", "ANO_BO"], ascending=[False, True])
correlacao_cor_sexo = sexo.merge(cor, how='inner').groupby(["SEXO","CORCUTIS"]).count().sort_values(by=["ANO_BO", "ANO_BO"], ascending=[False, True])
correlacao_cor_sexo

                         ANO_BO  NUM_BO
SEXO      CORCUTIS
Masculino Parda           11078   11078
          Branca          10939   10939
          Preta            2667    2667
Feminino  Branca           2374    2374
          Parda            1869    1869
Masculino Outros            714     714
          Não informada     554     554
Feminino  Preta             486     486
          Outros            138     138
          Não informada     124     124
Masculino Amarela            70      70
Feminino  Amarela            29      29
Masculino Vermelha            6       6
Feminino  Vermelha            3       3