In [97]:
# import import plotly.express as px
# import matplotlib.pyplot as plt
# import seaborn as sn
import pandas as pd
import numpy as np

crimes_total = pd.read_csv("C:/Users/Lenovo/Documents/GitHub/Curso-Python-2022/Projeto_Final/archive/Crimes em Sao Paulo-Capital 2020 e 2019.csv", sep=";", index_col=0)
homicidio_doloso = pd.read_csv("C:/Users/Lenovo/Documents/GitHub/Curso-Python-2022/Projeto_Final/archive/Homicidio Doloso Data SSP.csv", sep=";", encoding='latin-1', low_memory=False)

In [98]:
print(homicidio_doloso.shape)
homicidio_doloso.info()

(147033, 54)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147033 entries, 0 to 147032
Data columns (total 54 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ANO_BO                      147033 non-null  int64
 1   NUM_BO                      147033 non-null  int64
 2   NUMERO_BOLETIM              147033 non-null  object
 3   BO_INICIADO                 147033 non-null  object
 4   BO_EMITIDO                  147033 non-null  object
 5   DATAOCORRENCIA              147033 non-null  object
 6   ULO                         137444 non-null  object
 7   ANO_FABRICACAO              147033 non-null  object
 8   ANO_MODELO                  147033 non-null  object
 9   DESCR_TIPO_VEICULO          147033 non-null  object
 10  QUANT_CELULAR               147033 non-null  object
 11  MARCA_CELULAHORAOCORRENCIA  147033 non-null  object
 12  PERIDOOCORRENCIA            26816 non-null   object
 13  DATACOMUNICACAO             116431 non-null  object
 14  DATAELABORACAO              146580 non-null  object
 15  BO_AUTORIA                  137924 non-null  object
 16  FLAGRANTE                   146580 non-null  object
 17  NUMERO_BOLETIM_PRINCIPAL    146580 non-null  object
 18  LOGRADOURO                  80733 non-null   object
 19  NUMERO                      80729 non-null   object
 20  BAIRRO                      147033 non-null  object
 21  CIDADE                      114244 non-null  object
 22  UF                          147025 non-null  object
 23  LATITUDE                    147033 non-null  object
 24  LONGITUDE                   147033 non-null  object
 25  DESCRICAOLOCAL              147033 non-null  object
 26  EXAME                       147033 non-null  object
 27  SOLUCAO                     20118 non-null   object
 28  DELEGACIA_NOME              143069 non-null  object
 29  DELEGACIA_CIRCUNSCRICAO     55149 non-null   object
 30  ESPECIE                     55149 non-null   object
 31  RUBRICA                     43716 non-null   object
 32  DESDOBRAMENTO               35310 non-null   object
 33  STATUS                      53805 non-null   object
 34  TIPOPESSOA                  44516 non-null   object
 35  VITIMAFATAL                 45514 non-null   object
 36  NATURALIDADE                39700 non-null   object
 37  NACIONALIDADE               28450 non-null   object
 38  SEXO                        29148 non-null   object
 39  DATANASCIMENTO              54720 non-null   object
 40  IDADE                       55149 non-null   object
 41  ESTADOCIVIL                 55149 non-null   object
 42  PROFISSAO                   1485 non-null    object
 43  GRAUINSTRUCAO               6 non-null       object
 44  CORCUTIS                    25302 non-null   object
 45  NATUREZAVINCULADA           25342 non-null   object
 46  TIPOVINCULO                 25362 non-null   object
 47  RELACIONAMENTO              25394 non-null   object
 48  PARENTESCO                  25394 non-null   object
 49  PLACA_VEICULO               146859 non-null  object
 50  UF_VEICULO                  146782 non-null  object
 51  CIDADE_VEICULO              25394 non-null   object
 52  DESCR_COR_VEICULO           0 non-null       float64
 53  DESCR_MARCA_VEICR           0 non-null       float64
dtypes: float64(2), int64(2), object(50)
memory usage: 60.6+ MB

In [99]:
homicidio = homicidio_doloso[["ANO_BO", "NUM_BO", "BO_AUTORIA", "NUMERO_BOLETIM_PRINCIPAL", "DELEGACIA_NOME"]]
homicidio = homicidio.rename(columns={
    "ANO_BO": "Ano",
    "NUM_BO": "Número BO",
    "BO_AUTORIA": "Bairro",
    "NUMERO_BOLETIM_PRINCIPAL": "UF"
    })
homicidio.head()

    Ano  Número BO             Bairro  UF DELEGACIA_NOME
0  2021       3652  BAIRRO DO RIBEIRO  SP      Consumado
1  2021       3652  BAIRRO DO RIBEIRO  SP      Consumado
2  2021       4134      Parque Brasil  SP      Consumado
3  2021        343          LIBERDADE  SP      Consumado
4  2021        343          LIBERDADE  SP      Consumado

In [100]:
homicidio.dropna(inplace=True)
homicidio.isna().sum()

Ano               0
Número BO         0
Bairro            0
UF                0
DELEGACIA_NOME    0
dtype: int64

In [101]:
homicidio.drop_duplicates(inplace=True)
homicidio.duplicated().sum()

0

In [102]:
print(homicidio.shape)
homicidio.head()

(81862, 5)

    Ano  Número BO             Bairro  UF DELEGACIA_NOME
0  2021       3652  BAIRRO DO RIBEIRO  SP      Consumado
2  2021       4134      Parque Brasil  SP      Consumado
3  2021        343          LIBERDADE  SP      Consumado
7  2021       4136      Parque Brasil  SP      Consumado
8  2021       4225            CUMBICA  SP      Consumado

In [103]:
homicidio_UF = homicidio[homicidio["UF"] != "SP"]
print(homicidio_UF.shape)
homicidio = homicidio.drop(homicidio_UF.index)

(1, 5)

In [104]:
crimes_total.drop_duplicates(inplace=True)

In [105]:
print(crimes_total.shape)
crimes_total.head()

(198, 19)

,Furtos na região,Roubo de carga,Roubos,Roubo de Veiculo,Furto de veiculo,Latrocinios,Homicídio doloso por acidente de trânsito,Homicídio Culposo por acidente de Trânsito,Homicídio Culposo,Tentativa de Homicídio,Lesão Corporal seguida de morte,Lesão Corporal Dolosa,Lesão Corporal Culposa por acidente de trânsito,Lesão Corporal Culposa,Estupro,Estupro de vulnerável,Roubo de veiculos,Roubo a Banco,Ano
Delegacia,,,,,,,,,,,,,,,,,,,
001 DP - Sé,8.442,53,3.201,0,118.0,14,0,4,1,9,1,334,106,9,16,7,20.0,0,2020
001 DP - Sé,12.997,152,3.404,2,142.0,15,0,11,0,15,1,444,142,13,10,8,25.0,0,2019
002 DP - Bom Retiro,3.744,7,970.000,1,105.0,4,0,0,0,1,0,122,78,6,4,6,16.0,0,2020
002 DP - Bom Retiro,4.863,14,1.063,1,97.0,3,0,2,0,2,0,177,85,7,8,5,19.0,0,2019
003 DP - Campos Elísios,8.355,10,4.403,1,98.0,5,0,0,0,10,0,295,90,9,7,8,18.0,1,2020

In [106]:
crimes_furto = ["Furtos na região", "Roubo de carga", "Roubos", "Roubo de Veiculo", "Furto de veiculo", "Roubo de veiculos", "Lesão Corporal Culposa por acidente de trânsito", "Lesão Corporal Culposa", "Lesão Corporal Dolosa", "Tentativa de Homicídio", "Homicídio Culposo por acidente de Trânsito"]
crimes_total["Não hediondo"] = crimes_total[crimes_furto].sum(axis=1)
crimes_total.drop(columns=crimes_furto, inplace=True)
crimes_total.head()

,Latrocinios,Homicídio doloso por acidente de trânsito,Homicídio Culposo,Lesão Corporal seguida de morte,Estupro,Estupro de vulnerável,Roubo a Banco,Ano,Não hediondo
Delegacia,,,,,,,,,
001 DP - Sé,14,0,1,1,16,7,0,2020,664.643
001 DP - Sé,15,0,0,1,10,8,0,2019,962.401
002 DP - Bom Retiro,4,0,0,0,4,6,0,2020,1309.744
002 DP - Bom Retiro,3,0,0,0,8,5,0,2019,409.926
003 DP - Campos Elísios,5,0,0,0,7,8,1,2020,543.758

In [107]:
crimes_hediondos = ["Latrocinios", "Homicídio doloso por acidente de trânsito", "Homicídio Culposo", "Estupro", "Estupro de vulnerável", "Lesão Corporal seguida de morte"]
crimes_total["Hediondo"] = crimes_total[crimes_hediondos].sum(axis=1)
crimes_total.drop(columns=crimes_hediondos, inplace=True)
crimes_total.head()

                         Roubo a Banco    Ano  Não hediondo  Hediondo
Delegacia
001 DP - Sé                           0  2020       664.643        39
001 DP - Sé                           0  2019       962.401        34
002 DP - Bom Retiro                   0  2020      1309.744        14
002 DP - Bom Retiro                   0  2019       409.926        16
003 DP - Campos Elísios               1  2020       543.758        20