# Projeto Crimes em SP

## Hipóteses:

* Bairros com menor renda de sp tem um maior número de homicídios consumados.

* Homicídios ocorrem com maior frequência a noite e em locares abertos

## TODO

* Classificar as cidades periféricas (modelo de classificação)

* Período da ocorrência (mais de noite, dia, tarde)

* Top bairros com mais ocorrência

* Locais que acontece mais (casa, estradas)

* Evolução histórica versus geográfica (Top bairros)

* Correlacionar com dados pessoais (Idade, sexo, cor)

In [154]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sn
import pandas as pd
import numpy as np

homicidio_doloso = pd.read_csv(r"C:\Users\Lenovo\Downloads\Homicidio Doloso.csv\Homicidio Doloso Data SSP.csv", sep=";", encoding="latin-1", low_memory=False)

# Selecionando e Limpando os dados

In [155]:
print(homicidio_doloso.shape)
homicidio_doloso.info()

(147033, 54)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147033 entries, 0 to 147032
Data columns (total 54 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ANO_BO                    147033 non-null  int64
 1   NUM_BO                    147033 non-null  int64
 2   NUMERO_BOLETIM            147033 non-null  object
 3   BO_INICIADO               147033 non-null  object
 4   BO_EMITIDO                147033 non-null  object
 5   DATAOCORRENCIA            147033 non-null  object
 6   HORAOCORRENCIA            137444 non-null  object
 7   PERIDOOCORRENCIA          147033 non-null  object
 8   DATACOMUNICACAO           147033 non-null  object
 9   DATAELABORACAO            147033 non-null  object
 10  BO_AUTORIA                147033 non-null  object
 11  FLAGRANTE                 147033 non-null  object
 12  NUMERO_BOLETIM_PRINCIPAL  26816 non-null   object
 13  LOGRADOURO                116431 non-null  object
 14  NUMERO                    146580 non-null  object
 15  BAIRRO                    137924 non-null  object
 16  CIDADE                    146580 non-null  object
 17  UF                        146580 non-null  object
 18  LATITUDE                  80733 non-null   object
 19  LONGITUDE                 80729 non-null   object
 20  DESCRICAOLOCAL            147033 non-null  object
 21  EXAME                     114244 non-null  object
 22  SOLUCAO                   147025 non-null  object
 23  DELEGACIA_NOME            147033 non-null  object
 24  DELEGACIA_CIRCUNSCRICAO   147033 non-null  object
 25  ESPECIE                   147033 non-null  object
 26  RUBRICA                   147033 non-null  object
 27  DESDOBRAMENTO             20118 non-null   object
 28  STATUS                    143069 non-null  object
 29  TIPOPESSOA                55149 non-null   object
 30  VITIMAFATAL               55149 non-null   object
 31  NATURALIDADE              43716 non-null   object
 32  NACIONALIDADE             35310 non-null   object
 33  SEXO                      53805 non-null   object
 34  DATANASCIMENTO            44516 non-null   object
 35  IDADE                     45514 non-null   object
 36  ESTADOCIVIL               39700 non-null   object
 37  PROFISSAO                 28450 non-null   object
 38  GRAUINSTRUCAO             29148 non-null   object
 39  CORCUTIS                  54720 non-null   object
 40  NATUREZAVINCULADA         55149 non-null   object
 41  TIPOVINCULO               55149 non-null   object
 42  RELACIONAMENTO            1485 non-null    object
 43  PARENTESCO                6 non-null       object
 44  PLACA_VEICULO             25302 non-null   object
 45  UF_VEICULO                25342 non-null   object
 46  CIDADE_VEICULO            25362 non-null   object
 47  DESCR_COR_VEICULO         25394 non-null   object
 48  DESCR_MARCA_VEICULO       25394 non-null   object
 49  ANO_FABRICACAO            146859 non-null  object
 50  ANO_MODELO                146782 non-null  object
 51  DESCR_TIPO_VEICULO        25394 non-null   object
 52  QUANT_CELULAR             0 non-null       float64
 53  MARCA_CELULAR             0 non-null       float64
dtypes: float64(2), int64(2), object(50)
memory usage: 60.6+ MB

In [156]:
homicidio = homicidio_doloso[["ANO_BO", "NUM_BO", "HORAOCORRENCIA", "PERIDOOCORRENCIA", "BAIRRO", "CIDADE", "UF", "DESCRICAOLOCAL", "FLAGRANTE", "STATUS"]]
homicidio = homicidio.rename(columns={
    "ANO_BO": "ANO",
    "HORAOCORRENCIA": "HORA",
    "PERIDOOCORRENCIA": "PERIODO",
    "BAIRRO": "BAIRRO",
    "DESCRICAOLOCAL": "LOCAL",
    })
sexo = homicidio_doloso[["ANO_BO", "NUM_BO", "SEXO"]]

idade = homicidio_doloso[["ANO_BO", "NUM_BO", "IDADE"]]

cor = homicidio_doloso[["ANO_BO", "NUM_BO", "CORCUTIS"]]

In [157]:
print(homicidio.isna().sum())
print(sexo.isna().sum())
print(idade.isna().sum())
print(cor.isna().sum())
homicidio.dropna(inplace=True)
sexo.dropna(inplace=True)
idade.dropna(inplace=True)
cor.dropna(inplace=True)

ANO             0
NUM_BO          0
HORA         9589
PERIODO         0
BAIRRO       9109
CIDADE        453
UF            453
LOCAL           0
FLAGRANTE       0
STATUS       3964
dtype: int64
ANO_BO        0
NUM_BO        0
SEXO      93228
dtype: int64
ANO_BO         0
NUM_BO         0
IDADE     101519
dtype: int64
ANO_BO          0
NUM_BO          0
CORCUTIS    92313
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\3086957484.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sexo.dropna(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\3086957484.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idade.dropna(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\3086957484.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor.dropna(inplace=True)

In [158]:
print(homicidio.duplicated().sum())
print(sexo.duplicated().sum())
print(idade.duplicated().sum())
print(cor.duplicated().sum())
homicidio.drop_duplicates(inplace=True)
sexo.drop_duplicates(inplace=True)
idade.drop_duplicates(inplace=True)
cor.drop_duplicates(inplace=True)

49832
29932
17083
26743

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\4289532399.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sexo.drop_duplicates(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\4289532399.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idade.drop_duplicates(inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12776\4289532399.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor.drop_duplicates(inplace=True)

In [159]:
print(homicidio.shape)
print(sexo.shape)
print(idade.shape)
print(cor.shape)
homicidio

(75805, 10)
(23873, 3)
(28431, 3)
(27977, 3)

,ANO,NUM_BO,HORA,PERIODO,BAIRRO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
0,2021,3652,11:43,PELA MANHÃ,BAIRRO DO RIBEIRO,LINS,SP,Residência,Sim,Consumado
2,2021,4134,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
3,2021,343,16:30,A TARDE,LIBERDADE,S.PAULO,SP,Via pública,Não,Consumado
7,2021,4136,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
8,2021,4225,23:00,A NOITE,CUMBICA,GUARULHOS,SP,Via pública,Não,Consumado
...,...,...,...,...,...,...,...,...,...,...
147024,2003,331,22:00,A NOITE,SACOMA,S.PAULO,SP,Residência,Não,Tentado
147025,2003,393,03:00,DE MADRUGADA,PQ. INDUSTRIAL,CAMPINAS,SP,Via pública,Não,Consumado
147026,2003,781,21:15,A NOITE,BROOKLIN,S.PAULO,SP,Via pública,Não,Consumado
147028,2003,555,19:00,A NOITE,JAGUARÉ,S.PAULO,SP,Via pública,Não,Consumado
147030,2003,409,03:40,DE MADRUGADA,SACOMA,S.PAULO,SP,Via pública,Não,Consumado

In [160]:
homicidio_UF = homicidio[homicidio["UF"] != "SP"]
print(homicidio_UF.shape)
homicidio = homicidio.drop(homicidio_UF.index)
homicidio.shape

(1, 10)

(75804, 10)

In [161]:
# pd.set_option('display.max.rows', 75804)
homicidio.head()

,ANO,NUM_BO,HORA,PERIODO,BAIRRO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
0,2021,3652,11:43,PELA MANHÃ,BAIRRO DO RIBEIRO,LINS,SP,Residência,Sim,Consumado
2,2021,4134,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
3,2021,343,16:30,A TARDE,LIBERDADE,S.PAULO,SP,Via pública,Não,Consumado
7,2021,4136,23:30,A NOITE,Parque Brasil,S.PAULO,SP,Via pública,Não,Consumado
8,2021,4225,23:00,A NOITE,CUMBICA,GUARULHOS,SP,Via pública,Não,Consumado

# Organizando os dados

In [162]:
# periodo = homicidio.groupby(["PERIODO", "LOCAL"]).count()
locais_abertos = ['Via pública', 'Rodovia/Estrada', 'Área não ocupada', 'Lazer e recreação', 'Unidade rural', 'Terminal/Estação', 'Favela',  'Estrada de ferro']
locais_fechados = ['Residência', 'Comércio e serviços', 'Saúde', 'Condomínio Residencial', 'Repartição Pública', 'Restaurante e afins', 'Estabelecimento de ensino', 'Hospedagem', 'Centro Comercial/Empresarial', 'Serviços e bens públicos', 'Templo e afins', 'Condomínio Comercial', 'Local clandestino/ilegal', 'Estabelecimento industrial', 'Estabelecimento prisional', 'Estabelecimento bancário', 'Shopping Center', 'Sindicato', 'Entidade assistencial', 'Escritório']

In [163]:
cidade_sp = homicidio[homicidio["CIDADE"] == "S.PAULO"]
centro_bairros = ["Sé Bela Vista", "Bom Retiro", "Cambuci", "Consolação", "Liberdade", "República", "Santa Cecília", "Sé", "Centro"]
def maiuscula(lista):
    i = 0
    for bairro in lista:
        lista[i] = bairro.upper()
        i += 1
    zona = cidade_sp[cidade_sp["BAIRRO"].isin(lista)]
    zona_hom = zona.groupby("BAIRRO").count().sort_values(by="ANO", ascending=False)
    return zona, zona_hom
centro, centro_hom = maiuscula(centro_bairros)
centro_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
BOM RETIRO,119,119,119,119,119,119,119,119,119
CENTRO,111,111,111,111,111,111,111,111,111
LIBERDADE,67,67,67,67,67,67,67,67,67
CAMBUCI,65,65,65,65,65,65,65,65,65
CONSOLAÇÃO,21,21,21,21,21,21,21,21,21
SANTA CECÍLIA,4,4,4,4,4,4,4,4,4
SÉ,1,1,1,1,1,1,1,1,1

In [173]:
sul_bairros = ["Campo Limpo", "Capão Redondo", "Vila Andrade", "Capela do Socorro Cidade Dutra", "Grajaú", "Socorro", "Cidade Ademar", "Pedreira", "Ipiranga", "Sacomã", "Jabaquara", "M'Boi Mirim", "Jardim Ângela", "Jardim São Luís", "Parelheiros", "Marsilac", "Santo Amaro", "Campo Belo", "Campo Grande", "Santo Amaro", "Moema", "Saúde", "Vila Mariana"]
sul, sul_hom = maiuscula(sul_bairros)
sul_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
CAMPO LIMPO,405,405,405,405,405,405,405,405,405
JABAQUARA,240,240,240,240,240,240,240,240,240
PARELHEIROS,232,232,232,232,232,232,232,232,232
CIDADE ADEMAR,203,203,203,203,203,203,203,203,203
PEDREIRA,201,201,201,201,201,201,201,201,201
IPIRANGA,166,166,166,166,166,166,166,166,166
VILA ANDRADE,160,160,160,160,160,160,160,160,160
SANTO AMARO,131,131,131,131,131,131,131,131,131
CAMPO GRANDE,90,90,90,90,90,90,90,90,90
CAMPO BELO,73,73,73,73,73,73,73,73,73
SOCORRO,72,72,72,72,72,72,72,72,72
MOEMA,48,48,48,48,48,48,48,48,48
VILA MARIANA,45,45,45,45,45,45,45,45,45
MARSILAC,39,39,39,39,39,39,39,39,39
CAPÃO REDONDO,25,25,25,25,25,25,25,25,25
SACOMÃ,18,18,18,18,18,18,18,18,18
GRAJAÚ,18,18,18,18,18,18,18,18,18
SAÚDE,5,5,5,5,5,5,5,5,5
JARDIM ÂNGELA,2,2,2,2,2,2,2,2,2
JARDIM SÃO LUÍS,2,2,2,2,2,2,2,2,2

In [165]:
leste_bairros = ["Aricanduva", "Carrão", "Vila Formosa", "Cidade Tiradentes", "Ermelino Matarazzo", "Ponte Rasa", "Guaianases", "Lajeado", "Itaim Paulista", "Vila Curuçá", "Itaquera", "Cidade Líder", "José Bonifácio", "Parque do Carmo", "Mooca Água Rasa", "Belém", "Brás", "Moóca", "Pari", "Tatuapé", "Penha", "Artur Alvim", "Cangaíba", "Penha", "Vila Matilde", "São Mateus", "São Rafael", "São Miguel", "Jardim Helena", "Vila Jacuí", "Sapopemba", "Vila Prudente", "São Lucas"]
leste, leste_hom = maiuscula(leste_bairros)
leste_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
ITAIM PAULISTA,412,412,412,412,412,412,412,412,412
ITAQUERA,409,409,409,409,409,409,409,409,409
GUAIANASES,258,258,258,258,258,258,258,258,258
SAPOPEMBA,254,254,254,254,254,254,254,254,254
CIDADE TIRADENTES,253,253,253,253,253,253,253,253,253
ERMELINO MATARAZZO,169,169,169,169,169,169,169,169,169
LAJEADO,157,157,157,157,157,157,157,157,157
JARDIM HELENA,148,148,148,148,148,148,148,148,148
PENHA,136,136,136,136,136,136,136,136,136
VILA PRUDENTE,109,109,109,109,109,109,109,109,109
PARQUE DO CARMO,105,105,105,105,105,105,105,105,105
PARI,88,88,88,88,88,88,88,88,88
PONTE RASA,83,83,83,83,83,83,83,83,83
VILA MATILDE,73,73,73,73,73,73,73,73,73
ARTUR ALVIM,63,63,63,63,63,63,63,63,63
VILA FORMOSA,57,57,57,57,57,57,57,57,57
ARICANDUVA,43,43,43,43,43,43,43,43,43
SÃO MATEUS,41,41,41,41,41,41,41,41,41
TATUAPÉ,35,35,35,35,35,35,35,35,35
BRÁS,31,31,31,31,31,31,31,31,31
BELÉM,24,24,24,24,24,24,24,24,24
CANGAÍBA,16,16,16,16,16,16,16,16,16
CIDADE LÍDER,9,9,9,9,9,9,9,9,9
VILA CURUÇÁ,4,4,4,4,4,4,4,4,4
VILA JACUÍ,2,2,2,2,2,2,2,2,2

In [166]:
norte_bairros = ["Casa Verde", "Cachoeirinha", "Limão", "Brasilândia", "Freguesia do Ó", "Jaçanã", "Tremembé", "Perus", "Anhanguera", "Pirituba", "Jaraguá", "São Domingos", "Santana", "Tucuruvi", "Mandaqui", "Vila Maria", "Vila Guilherme", "Vila Medeiros"]
norte, norte_hom = maiuscula(norte_bairros)
norte_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
PIRITUBA,261,261,261,261,261,261,261,261,261
PERUS,217,217,217,217,217,217,217,217,217
VILA MARIA,205,205,205,205,205,205,205,205,205
CACHOEIRINHA,203,203,203,203,203,203,203,203,203
VILA MEDEIROS,136,136,136,136,136,136,136,136,136
CASA VERDE,103,103,103,103,103,103,103,103,103
SANTANA,89,89,89,89,89,89,89,89,89
VILA GUILHERME,79,79,79,79,79,79,79,79,79
MANDAQUI,73,73,73,73,73,73,73,73,73
FREGUESIA DO Ó,64,64,64,64,64,64,64,64,64
ANHANGUERA,56,56,56,56,56,56,56,56,56
TUCURUVI,50,50,50,50,50,50,50,50,50
LIMÃO,27,27,27,27,27,27,27,27,27
JAÇANÃ,15,15,15,15,15,15,15,15,15
JARAGUÁ,10,10,10,10,10,10,10,10,10
TREMEMBÉ,4,4,4,4,4,4,4,4,4
BRASILÂNDIA,2,2,2,2,2,2,2,2,2

In [167]:
oeste_bairros = ["Butantã", "Morumbi", "Raposo Tavares", "Rio Pequeno", "Vila Sônia", "Lapa", "Barra Funda", "Jaguara", "Jaguaré", "Perdizes", "Vila Leopoldina", "Pinheiros", "Alto de Pinheiros", "Itaim Bibi", "Jardim Paulista", "Pinheiros"]
oeste,oeste_hom = maiuscula(norte_bairros)
oeste_hom

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
PIRITUBA,261,261,261,261,261,261,261,261,261
PERUS,217,217,217,217,217,217,217,217,217
VILA MARIA,205,205,205,205,205,205,205,205,205
CACHOEIRINHA,203,203,203,203,203,203,203,203,203
VILA MEDEIROS,136,136,136,136,136,136,136,136,136
CASA VERDE,103,103,103,103,103,103,103,103,103
SANTANA,89,89,89,89,89,89,89,89,89
VILA GUILHERME,79,79,79,79,79,79,79,79,79
MANDAQUI,73,73,73,73,73,73,73,73,73
FREGUESIA DO Ó,64,64,64,64,64,64,64,64,64
ANHANGUERA,56,56,56,56,56,56,56,56,56
TUCURUVI,50,50,50,50,50,50,50,50,50
LIMÃO,27,27,27,27,27,27,27,27,27
JAÇANÃ,15,15,15,15,15,15,15,15,15
JARAGUÁ,10,10,10,10,10,10,10,10,10
TREMEMBÉ,4,4,4,4,4,4,4,4,4
BRASILÂNDIA,2,2,2,2,2,2,2,2,2

In [168]:
bairros_menor_renda_sp = [
    "Heliópolis",
    "Paraisópolis",
    "Cidade Tiradentes",
    "Jardim São Luís",
    "Grajaú",
    "Capão Redondo",
    "Brasilândia",
    "Jardim Ângela",
    "Jardim Peri",
    "Parelheiros"
]
menor_renda, homicidios_menor = maiuscula(bairros_menor_renda_sp)
homicidios_menor

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
CIDADE TIRADENTES,253,253,253,253,253,253,253,253,253
PARELHEIROS,232,232,232,232,232,232,232,232,232
HELIÓPOLIS,55,55,55,55,55,55,55,55,55
JARDIM PERI,29,29,29,29,29,29,29,29,29
PARAISÓPOLIS,28,28,28,28,28,28,28,28,28
CAPÃO REDONDO,25,25,25,25,25,25,25,25,25
GRAJAÚ,18,18,18,18,18,18,18,18,18
BRASILÂNDIA,2,2,2,2,2,2,2,2,2
JARDIM SÃO LUÍS,2,2,2,2,2,2,2,2,2
JARDIM ÂNGELA,2,2,2,2,2,2,2,2,2

In [169]:
bairros_maior_renda_sp = [
    "Jardim Europa",
    "Jardim Paulistano",
    "Vila Nova Conceição",
    "Itaim Bibi",
    "Moema",
    "Morumbi",
    "Brooklin",
    "Alto de Pinheiros",
    "Perdizes",
    "Jardins"
]
maior_renda, homicidios_maior = maiuscula(bairros_maior_renda_sp)
homicidios_maior

,ANO,NUM_BO,HORA,PERIODO,CIDADE,UF,LOCAL,FLAGRANTE,STATUS
BAIRRO,,,,,,,,,
MORUMBI,71,71,71,71,71,71,71,71,71
ITAIM BIBI,59,59,59,59,59,59,59,59,59
MOEMA,48,48,48,48,48,48,48,48,48
PERDIZES,47,47,47,47,47,47,47,47,47
BROOKLIN,24,24,24,24,24,24,24,24,24
ALTO DE PINHEIROS,14,14,14,14,14,14,14,14,14
JARDIM PAULISTANO,11,11,11,11,11,11,11,11,11
JARDINS,6,6,6,6,6,6,6,6,6
JARDIM EUROPA,2,2,2,2,2,2,2,2,2
VILA NOVA CONCEIÇÃO,1,1,1,1,1,1,1,1,1